.container {
  text-align: center;
  margin-top: 50px;
}

.title {
  color: blue;
}

.counterValue {
  color: green;
}

.addButton {
  background-color: lightblue;
  margin: 5px;
}

.removeButton {
  background-color: lightcoral;
  margin: 5px;
}
